name: Image Minimizer

on:
  issue_comment:
    types: [created, edited]
  issues:
    types: [opened, edited]
  pull_request_target:
    types: [opened, edited]

jobs:
  debug-workflow:
    runs-on: ubuntu-latest
    steps:
      - name: Debug Secret Lengths
        run: |
          echo "Length of APP_ID: ${#APP_ID}"
          echo "Length of APP_PRIVATE_KEY: ${#APP_PRIVATE_KEY}"
        env:
          APP_ID: ${{ secrets.APP_ID }}
          APP_PRIVATE_KEY: ${{ secrets.APP_PRIVATE_KEY }}
